* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: verdana;
    font-size: 14px;
}   
.change-logo {
	display: none;
}
}

body {                                      /*||Cabeçalho*/
     width: 100%;
	 min-height: 100vh;
	 display: block;
	 padding: 0;
	 margin: 0;
	
}
.orkut-wrapper {
	min-height: 80vh;
	display: block;
	margin:3%;
}
.main-logo {
	display: flex;
	width: 100%;
    align-items: center;	
}
.logo {
	Width:25%;
	height:10%;

}
.logo img {
	width: 100%;
	object-fit: Cover;
}
.welcome {
	Width: 100%;
	border-radius: 0.5em;
	background-color: lightblue;
	margin-left: 1rem;
	padding: 1rem;
}
.welcome h3 {
	width: 100%;
	padding-left: 3rem;
}
	
}
.logo img {
    object-fit: cover;
    width: 100%;
}                                                       /*||icones lateral esquerda*/
.main {
	display: flex;
}
.icons {
	display: block;
	
}
.left-icons {
	display: flex;
	margin: 1rem;
}
.left-icons img {
	max-width: 150px;
    max-height: 90px;
    object-fit: contain;
    align-self: center;
}
.left-icons div {
	margin: 1rem;
}
.msg-atuliza {
	width: 85%;
	margin: 3rem 1rem;
	padding: 1rem;
	background-color: papayawhip;
	border: 1px solid wheat;
	text-align: center;
}
.login-area { 
display: block;                                              /*||lateral direita login*/
width: 35%;
align-items: center;
justify-content: center;

}
.login {
	background-color: rgb(220,220,250);
	padding:1rem;
	margin:1rem;
	border:0.6rem double white;
	Text-align: Center;
	line-height: 1.5rem;
	
}
span {
	font-size: 1.2rem;
	font-weight: bold;
}
.create-account {
	background-color: rgb(220,220,250);
	padding: 1rem;
	margin: 1rem;
	border: 0.6em double white;
    text-align: center;	
}
.bottom {
	display: inline-block;
	width: 35%;
	background: linear-gradient(0deg, rgba(200,200,200,0.85) 2%,
                                      rgba(180,180,180,1) 50%, 
									  rgba(200,200,200,0.8) 98%);
	border: 1px solid rgb(100,100,100);
	border-radius:0.3em;
	text-decoration: none;
	margin: 1rem;
	padding: 0.5rem;
	text-align: center;
}
.bottom:hover {
	background: linear-gradient(0deg, rgba(240,240,240,0.85) 2%,
                                      rgba(200,200,200,1) 50%, 
									  rgba(240,240,240,0.8) 98%);
}
.footer {
	Width: 100%;
	border-radius: 0.5em;
	background-color: lightblue;
	padding: 1rem;
	text-align: center;
}
@media (max-width: 1024px) {
.orkut-wrapper {
	width: 90%;
   }
}
@media (max-width: 800px) {

.icons {
	width: 70%;
   }
.left-icons img { 
   display: none;
}
.login-area {
	width: 50%;
}
}
@media (max-width: 650px) {
.orkut-wrapper {
	border: 10px solid lightblue;
	padding: 0;
   }

.icons {
	display: none;
   }
.login-area {
	 width: 100%;
   }
.logo {
	display: none;
}
.change-logo {
	display: block;
}
.change-logo img {
	object-fit: cover;
	width: 100%;
}
.main-logo {
	display: block;
	align-items; center;
}
.welcome {
	width: 100%;
	text-align: center;
	margin: 0;
	border-radius: unset;
}
.footer {
	width: 100%;
	border-radius: unset;
}	
}
	
    	
